.footer-container{
    position: relative;
    width: 100%;
    height: 90%;
    background-color: rgb(26, 26, 26);
    margin-top: -155px;

}

.footer-list{
    position: absolute;
    margin-top: 50px;
    width: auto;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    /* background-color: rgb(46, 45, 45); */
    color: rgb(117, 116, 116);
    margin: 20px;
    margin-top: 30px;
}

.footer-list a{
    color: #06a06c;
    text-decoration: none;
    
}