.scrollbtn{
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(199, 199, 199,39.5%);
    color: white;
    border: 0px solid transparent;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
    left: 10%;
    z-index: 1000;
    transform: translate(0, 286%);
    margin-top: 5%;
}

.scrollbtn:hover{
    background-color: rgb(199, 199, 199,89.5%);
}

.flexbox-data{
    margin-left: -4px;
}

.scrollfull{
    min-width: 95%;
    overflow: hidden;
}

.scrollfull img{
    width: 70%;
    max-height: 300px;
    object-fit: fill;
}